.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 10;
}

.logo {
    font-size: 50px;
    background: linear-gradient(90deg, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.nav-links a {
    color: orange;
    text-decoration: none;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 60px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-links a:hover {
    color: red;
    text-shadow: 0 0 10px red;
}

section {

    color: black;
    line-height: 1.6;

    margin: 100px, auto;

}

.heading {
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 80px;
    margin-top: 150px;
    background: linear-gradient(90deg, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.ax {
    display: inline-block;
    text-align: center;
    font-size: 100px;
    vertical-align: middle;
    margin-top: 1px;
    background: linear-gradient(90deg, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    margin-bottom: 0px;
}

.para1 {
    flex: 50%;
    color: white;
    flex-direction: row;
    margin-left: 25px;
    font-size: 50px;
    margin-top: 0px;
}

.para2 {
    display: block;
    flex: 50%;
    color: white;
    flex-direction: row;
    margin-left: 25px;
    font-size: 50px;
    margin-top: 300px;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 30px;
    text-align: center;
}

li {
    margin: 10px;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.highlight {
    color: rgb(255, 140, 0);
    font-weight: bold;
    letter-spacing: 1px;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(17, 16, 16, 0.1);
    margin: 0;
    background: url('https://images.unsplash.com/photo-1728486145245-d4cb0c9c3470?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center / cover no-repeat fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

h2 {
    color: white;
    font-size: 80px;
    margin-left: 25px;
    text-align: center;
}

.quote-line {
    color: orangered;
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    flex: 1;
    color: white;
    flex-direction: column;
    line-height: 1.6;
    margin-top: 100px;
}

.about-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin-top: 100px;
}

.im1 {
    width: 60%;
    height: 60%;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(255, 69, 0, 1);
    margin-left: 150px;

}

.im2 {
    width: 60%;
    height: 60%;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(255, 69, 0, 1);
    margin-left: 150px;

}