body{
    font-family: 'Bebas Neue';
    background: rgba(0, 0, 0, 0.1) url('https://img.freepik.com/premium-photo/beautiful-abstract-grunge-decorative-black-wall-background-art-rough-dark-texture_940927-5620.jpg?semt=ais_hybrid&w=740&q=80') center/cover no-repeat fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
}

.gallery-container{
    width: 90%;
    max-width: 1600px;
    padding: 40px 20px;
    text-align: center;
}

.gallery-container h1{
    font-size: 60px;
    color: orange;
    margin-bottom: 40px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.gallery-item{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: rbga(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

.gallery-item img:hover{
    transform: scale(1.1);
}

.gallery-item p{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
    color: orange;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item:hover p {
    opacity: 1;
}

.nav-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 40px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(5px);
            z-index: 10;
        }

        .logo {
            font-size: 50px;
            background: linear-gradient(90deg, orange, red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 1px;
        }

        .nav-links a {
            color: orange;
            text-decoration: none;
            font-size: 30px;
            margin-left: 0px;
            margin-right: 60px;
            transition: color 0.3s ease, text-shadow 0.3s ease;
        }

        .nav-links a:hover {
            color: red;
            text-shadow: 0 0 10px red;
        }
