body {
    background: rgba(0, 0, 0, 0.7) url('https://www.fitshop.co.uk/blog/wp-content/uploads/2024/09/ROI_In_Gym_Equipment_1200_628-1024x536.jpg') center/cover no-repeat fixed;
    background-blend-mode: darken;
    font-family: 'Bebas Neue';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    margin-top: 100px;
    width: 450px;
    padding: 80px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    text-align: center;
    color: orange;
}

.login-box h1 {
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 0px;
    background: linear-gradient(90deg, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    width: 90%;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
}

.button {
    background: linear-gradient(90deg, orange, red);
    font-size: 45px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn-box {
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 0.2s ease-in;
}

.btn-box:hover {
    transform: scale(1.1);
}

.acc {
    color: orange;
    text-decoration: none;
    text-decoration: underline;
    font-size: 30px
}

.acc:hover {
    color: red;
}