body {
    color: white;
    background: url('https://images.unsplash.com/photo-1602085710012-80aeb529d6a2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat fixed;
    margin: 0px;
    font-family: 'Bebas Neue';
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 10;
}

.logo {
    font-size: 50px;
    background: linear-gradient(90deg, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.nav-links a {
    color: orange;
    text-decoration: none;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 60px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-links a:hover {
    color: red;
    text-shadow: 0 0 10px red;
}

.membership-section {
    text-align: center;
    padding-top: 150px;
}

.heading {
    font-size: 80px;
    background: linear-gradient(90deg, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
    margin-top: -15px;
}

.membership-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.plan {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 40px;
    width: 350px;
    box-shadow: 0 0 15px rgba(255, 69, 9, 1);
    transition: 0.4s ease;
}

.plan:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px rgba(255, 69, 0, 0.6);
}

.plan h2 {
    font-size: 60px;
    background: linear-gradient(90deg, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price {
    font-size: 45px;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 30px;
    margin-bottom: 30px;
}

button {
    background: linear-gradient(90deg, orange, red);
    border: none;
    color: white;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, red, orange);
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.9);
}

.planpro {
    border: 2px solid red;
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 69, 0, 0.8);
}

.planpro:hover {
    transform: scale(1.1);
    box-shadow: 0 0 35px rgba(255, 69, 0, 1);
}