body {
    background: rgba(0, 0, 0, 0.5) url('https://plus.unsplash.com/premium_photo-1661301057249-bd008eebd06a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z3ltfGVufDB8fDB8fHww') center/cover no-repeat fixed;
    background-blend-mode: darken;
    font-family: 'Bebas Neue';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 450px;
    padding: 80px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    text-align: center;
    margin-top: 100px;
    color: orange;
}

.login-box h1 {
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 0px;
    background: linear-gradient(90deg, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    width: 90%;
    height: 30px;
    margin: 10px 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
}

.button {
    background: linear-gradient(90deg, orange, red);
    font-size: 35px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.button:hover {
    transform: scale(1.1);
}

.acc {
    color: orange;
    text-decoration: none;
    text-decoration: underline;
    font-size: px;
}

.acc:hover {
    color: red;
}